.loginsignup{
    width: 100%;
    height: auto;
    background: #fce3fe;
    padding-top: 60px;
    padding-bottom: 50px;
    
}
.signup-container {
    width: 90%; /* Change to relative unit for responsiveness */
    max-width: 580px; /* Keep the maximum width */
    height: auto; /* Allow height to adjust based on content */
    background: white;
    margin: auto;
    padding: 40px 60px;
    backdrop-filter: blur(90px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Optional: use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.loginsignup-login span{
    color: #ff4141;
    font-weight:700;

}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}



.signup-container h1{
    margin: 20px 0px;

}
.signup-field{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.signup-field input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 18px;
}
.signup-container button{
  width: 580px;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}